<style>
    form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
</style>
<h1 style="text-align: center;">Beheerders login</h1>
<form action="{{ url_for('beheerders_blueprint.login_beheerder') }}" method="post" style="display: flex; flex-direction: column; max-width: 25%;">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required style="margin-bottom: 10px;">
    <label for="wachtwoord">Wachtwoord</label>
    <input type="password" name="wachtwoord" id="wachtwoord" required style="margin-bottom: 10px;">
    <button type="submit">Login</button>
</form>